/target
/Cargo.lock
*/.venv/*
comparison/data
*/mem-trees/*
comparison/compacttree/mem/*
comparison/compacttree/time/*
comparison/genesis/mem/*
comparison/genesis/time/*
comparison/genesis/libgenesis.so
comparison/phylo-rs/mem/*
comparison/phylo-rs/time/*
comparison/phylotree/mem/*
comparison/phylotree/time/*
comparison/gotree/mem/*
comparison/gotree/time/*
*.csv
*.png